{% with active="home" %}
{% load dajaxice_templatetags %}


<!DOCTYPE html>
{% include "head.html" %}
<body>
	 <div class="navbar navbar-inverse navbar-fixed-top ">
     	<div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">USF Surf</a>
        <div class="nav-collapse collapse">
          <ul class="nav navbar-nav pull-right">
            <li><a href="../">Home</a></li>
            <li><a href="../about/">About</a></li>
            <li ><a href="../events/">Events</a></li>
            <li class=active><a href="../contact/">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	<div class="body-wrapper debug container">

  <div class="row">
    <div class="col-12 event-info"> <h1></h1> <p></p> </div>
  </div>


  <div class="row">
    <div class="col-6  event-info"> 
      <img src="http://placehold.it/150x150" 
   class="img-circle">
      <h2>President</h2>
      <p>Justin Campbell</p>
      <p>Here lies information about Justin</p>
    </div>

    <div class="col-6  event-info"> 
      <img src="http://placehold.it/150x150" 
   class="img-circle">
      <h2>Vice President</h2>
      <p>Kiel Von Lindenburg</p>
      <p>Here lies information about Kiel</p>
    </div>
  </div>
  
  <hr>

  <div class="row">
    <div class="col-6  event-info"> 
      <img src="http://placehold.it/150x150" 
   class="img-circle">
      <h2>Treasurer</h2>
      <p>Shane Spiers</p>
      <p>Here lies information about Shane</p>
    </div>

    <div class="col-6  event-info"> 
      <img src="http://placehold.it/150x150" 
   class="img-circle">
      <h2>Risk Manager</h2>
      <p>David Kirk</p>
      <p>Here lies information about David</p>
    </div>
  </div>
  
  <hr>

  <div class="row">
    <div class="col-6  event-info"> 
      <img src="http://placehold.it/150x150" 
   class="img-circle">
      <h2>Volunteer & Fundraising Coordinator</h2>
      <p>Stephanie Radu</p>
      <p>Here lies information about Steph</p>
    </div>

    <div class="col-6  event-info"> 
      <img src="http://placehold.it/150x150" 
   class="img-circle">
      <h2>Secretary & Social Networking Coordinator</h2>
      <p>Kelly Bonnville</p>
      <p>Here lies information about Kelly</p>
    </div>
  </div>
  
  <hr>



   <div class="row">
    <div class="col-12 event-info"> 
        <img src="http://placehold.it/150x150" 
     class="img-circle">
        <h2>Webmaster</h2>
        <p>Joshua Philpott</p>
        <p>jphilpott@mail.usf.edu</p>
        <p>(386)316-9856</p>
    </div>
  </div>

   





  
  <hr>
	{% include "footer.html" %}
	</div>
</body>
</html>
{% endwith %}

