     
       <!--  Carousel - consult the Twitter Bootstrap docs at 
      http://twitter.github.com/bootstrap/javascript.html#carousel -->
      <div id="home-carousel" class="carousel slide"><!-- class of slide for animation -->
        <div class="carousel-inner">
          <div class="item active"><!-- class of active since it's the first item -->
            <img src="http://placehold.it/1200x480" alt="" />
            <div class="carousel-caption">
              <p>Placeholder Image 1</p>
            </div>
          </div>
          <div class="item">
         
            <img src="http://placehold.it/1200x480" alt="" />
            <div class="carousel-caption">
              <p>Placeholder Image 2</p>
            </div>
          </div>
          <div class="item">
            <img src="http://placehold.it/1200x480" alt="" />
            <div class="carousel-caption">
              <p>Placeholder Image 3</p>
            </div>
          </div>
          <div class="item">
            <img src="http://placehold.it/1200x480" alt="" />
            <div class="carousel-caption">
              <p>Placeholder Image 4</p>
            </div>
          </div>
        </div><!-- /.carousel-inner -->
        <!--  Next and Previous controls below
              href values must reference the id for this carousel -->
          <a class="carousel-control left" href="#home-carousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#home-carousel" data-slide="next">&rsaquo;</a>
      </div><!-- /.carousel -->
      

      <div class="row section debug">

        
        <!--<div class="col-6">
          <div id="slides">
             <img src="{{STATIC_URL}}img/slide-1.jpg">
             <img src="{{STATIC_URL}}img/slide-2.jpg">
             <img src="{{STATIC_URL}}img/slide-3.jpg">
             <img src="{{STATIC_URL}}img/slide-4.jpg" >
          </div>
        </div> -->
        <!--<div class="col-12 event-info" style="vertical-align:center">
          <img src = "http://scontent-b-mia.xx.fbcdn.net/hphotos-prn1/14407_10151123918356693_1333556561_n.jpg" style=";width:50%%; border: thin solid black;max-height:"></img>
        </div> -->

        <div class="col-1"></div>

        <div class="col-10 alegreya">
          <!--<h1>University of South Florida Surf Club</h1>-->

          <p>The Surf Club at USF is a community of students passionate about surfing. It is open to USF students of all ages and skill levels. The club offers members a wide variety of opportunities to engage with their fellow students and the Florida surfing community. Whether you have never touched a surfboard or have been surfing all of your life, the Surf Club at USF seeks to enrich your college experience. </p>
        </div>
        <div class="col-12">
          </br></br>
        </div>
      </div>

      <link href='http://fonts.googleapis.com/css?family=Alegreya:400,900' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400|Passion+One:400,700|Titillium+Web:400,400italic' rel='stylesheet' type='text/css'>



